.settings-content {
    font-size: 18px; /* A more standard font size for content */
    padding-top: 20px; /* Add some space below the title */
}

.setting-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertically align the label and toggle */
    min-height: 50px; /* Give the row some height */
}