<div class="weather-container">
  <h3 class="panel-subtitle">Current Weather</h3>
  <div *ngIf="!loadingMessage && weather; else loading" class="weather-grid">
    <div class="data-point" *ngIf="weather">
      <strong>Temperature</strong>
      <p>{{ weather.temp | number:'1.0-0' }}°</p>
    </div>
    <div class="data-point" *ngIf="weather">
      <strong>Humidity</strong>
      <p>{{ weather.humidity }}%</p>
    </div>
    <div class="data-point" *ngIf="weather">
      <strong>Rain (in)</strong>
      <p>{{ weather.rain | number:'1.2-2'}}</p>
    </div>
    <div class="data-point" *ngIf="weather">
      <strong>Cloud Cover</strong>
      <p>{{ weather.cloudiness }}</p>
    </div>

    <div class="data-point" *ngIf="weather">
      <strong>Wind Speed (mph)</strong>
      <p>{{ weather.windSpeed | number:'1.2-2'}}</p>
    </div>
    <div class="data-point" *ngIf="weather">
      <strong>Wind Direction</strong>
      <p> {{ weather.windDirCompass }}</p>
    </div>
    <div class="data-point" *ngIf="weather">
      <strong>Pressure (hPa)</strong>
      <p>{{ weather.pressure | number:'1.2-2'}} hPa</p>
    </div>

  </div>
  <ng-template #loading>
    <div class="loading-message">
      <p>Loading weather...</p>
    </div>
  </ng-template>
</div>