<div class="global-controls-container">
  <!-- Home Button -->
   <button
    mat-fab
    [disabled]="menuOpen"
    class="control-btn"
   [routerLink]="['/']"
    aria-label="Home"
    matTooltip="Home">
    <mat-icon>home</mat-icon>
  </button>

  <!-- Favorites Button -->
   <button
    mat-fab
    [disabled]="menuOpen"
    class="control-btn"
   [routerLink]="['favorites']"
    aria-label="Favorites"
    matTooltip="Favorites">
    <mat-icon>star</mat-icon>
  </button>
 

  <!-- Settings Button -->
  <button
    mat-fab
    [disabled]="menuOpen"
    class="control-btn"
    (click)="openSettingsPanel()"
    aria-label="Open settings"
    matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button>

  <!-- Location Button (only shows if location is set) -->
  <button
    mat-fab
    [disabled]="menuOpen"
    class="control-btn"
    (click)="openLocationSelector()"
    aria-label="Change location"
    matTooltip="Change Location">
    <mat-icon>edit_location</mat-icon>
  </button>
</div>