<button mat-fab class="back-button" type="button" routerLink="/stations" aria-label="Back to stations list">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="page-container">

  <h2>Station Info</h2>


  <div *ngIf="loadingMessage" class="loading-indicator">
    <h3>{{ loadingMessage }}</h3>
    <div class="spinner"></div>
  </div>

  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
    <button (click)="fetchStation()">Retry</button>
  </div>

  <mat-card *ngIf="station" class="station">
    <!-- General Info Card -->
    <station-details [station]="station"></station-details>

    <!-- Last bird detection -->
    <bird-detection [stationId]="stationId" [last]="true"></bird-detection>
  </mat-card>
  
</div>