.location-selector-container {
  display: flex;
  position: relative; /* Needed for the overlay positioning */
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  justify-content: center;
  padding: 30px; /* Increased padding for a larger feel */
  max-width: 650px; /* Slightly wider */
  text-align: start;
  background-color: var(--primary-light);
  color: white;
  border-radius: 10px; /* Soften the corners to complement the shadow */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.city-search-form {
  display: flex;
  align-items: baseline;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.city-input {
  flex-grow: 1; 

  .mat-mdc-input-element {
    color: white;
  }
}


.error-message {
  margin-top: 1rem;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  border-radius: 10px; /* Match the container's border-radius */
  z-index: 10;
}

/* Style for disabled buttons within this component */
button:disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}