.station-details{
    background-color: var(--primary-light);
    opacity: 0.9;
    border-radius: 10px;
}

.details-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.map-container,
.map-unavailable {
    max-width: 50%;
}

.map-image {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    padding: 10px;
}

.map-unavailable {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; // Give it some height
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 4px;
}