.detection-container {
   background-color: var(--primary-light);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--mat-divider-color, rgba(0, 0, 0, 0.12));
  margin: 1rem;
}


.detection-item {
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
    text-align: center; 
    padding: 20px 40px;   
}

.species-main-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.species-identity {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.species-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.8);
}

.species-summary {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.summary {
    font-size: 0.9rem;
    line-height: 1.5;
}

.detection-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
}

.bird-name{
    padding: 0rem;
    margin: 0rem;
}

.bird-scientific-name{    
    font-style: italic;
}

/* Swiper Customization */
.swiper-pagination-bullet-active {
    background: var(--primary-light) !important;
}

.detection-container swiper-container {
  --swiper-navigation-size: 12px; 
  --swiper-navigation-color: var(--secondary-light); 
  --swiper-pagination-color: var(--secondary-light);   
}