@use '@angular/material' as mat;

// Theme Variables
:root {
  --primary-dark: #6700ac;
  --primary-light: #a968ff;
  --secondary-light: #ADD8E6;

}

// Global styles
app-root {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom right, var(--primary-light), var(--secondary-light));
  /* Lilac to Light Blue */
  margin: 0;
  /* Remove default body margin */
  padding: 0;
  /* Remove default body padding */
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}

// Controls
.primary-button {
  background-color: var(--primary-dark) !important;
  color: white  !important;
  margin: 0px 10px;
}
button:hover {
  background-color: var(--primary-light) !important;
}

.secondary-button {
  background-color: var(--primary-light) !important;
  color: white  !important; 
  margin: 0px 10px;
}
button:hover {
  background-color: var(--secondary-dark) !important;
}

// Loading
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--primary-dark);
  animation: spin 1s ease infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Containers
.page-container {
  font-family: Arial, sans-serif;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.loading-indicator, .error-message, .no-detections {
  text-align: center;
  color: gray;
  background-color: #e0f7fa;
  border-radius: 4px;
  width: 75vw;
  padding: 10px;
  margin: 10px;
}

.error-message {
  color: red;
  border-color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
