<div class="detections-container">
  <div *ngIf="isLoading" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" [diameter]="50"></mat-progress-spinner>
    <p>Loading favorite detections...</p>
  </div>

  <div *ngIf="!isLoading && (detectionsByStation$ | async) as stations">
    <div *ngIf="stations.length > 0; else noFavorites">
      <h2>Recent Detections from Favorites</h2>
      <div *ngFor="let stationData of stations" class="station-detection-group">
        <h3 class="station-link" [routerLink]="['/station', stationData.stationId]">{{ stationData.stationName }}</h3>
        <div *ngIf="stationData.error" class="error-message">
          <p>{{ stationData.error }}</p>
        </div>
        <mat-list *ngIf="!stationData.error && stationData.detections.length > 0; else noDetections">
          <mat-list-item *ngFor="let detection of stationData.detections">
            <mat-icon matListItemIcon>visibility</mat-icon>
            <div matListItemTitle>{{ detection.species.commonName }}</div>
            <div matListItemLine>{{ detection.species.scientificName }} | Seen on {{ detection.timestamp | date:'short' }}</div>
          </mat-list-item>
        </mat-list>
        <ng-template #noDetections>
          <p class="no-detections-message" *ngIf="!stationData.error">No recent detections for this station.</p>
        </ng-template>
      </div>
    </div>
    <ng-template #noFavorites>
      <div class="no-favorites-prompt">
        <h3>No Favorite Stations Yet</h3>
        <p>Add stations to your favorites to see their recent detections here.</p>
      </div>
    </ng-template>
  </div>
</div>